<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.4"?>

<!-- https://jazz.net/wiki/bin/view/Main/JAFServiceFramework -->
<plugin>
  <extension point="com.ibm.team.repository.common.components">
    <component id="org.jazzcommunity.GitConnectorService" name="REST service">
      <service name="REST Service" kind="MODELLED_REST" uri="org.jazzcommunity.GitConnectorService.IGitConnectorService" version="${qualifiedVersion}"/>
    </component>
  </extension>
  <extension point="com.ibm.team.repository.service.serviceProvider">
    <serviceProvider componentId="org.jazzcommunity.GitConnectorService" implementationClass="org.jazzcommunity.GitConnectorService.GitConnectorService">
      <provides>
        <providedService interface="org.jazzcommunity.GitConnectorService.IGitConnectorService"/>
      </provides>
      <prerequisites>
        <requiredService interface="com.siemens.bt.jazz.services.PersonalTokenService.IPersonalTokenService"/>
        <requiredService interface="com.ibm.team.repository.common.service.IContributorService"/>
        <requiredService interface="com.ibm.team.repository.service.IRepositoryItemService"/>
        <requiredService interface="com.ibm.team.repository.common.service.IQueryService"/>
        <requiredService interface="com.ibm.team.repository.service.IServerQueryService"/>
        <requiredService interface="com.ibm.team.build.internal.common.ITeamBuildService"/>
        <requiredService interface="com.ibm.team.workitem.service.IQueryServer"/>
        <requiredService interface="com.ibm.team.workitem.service.IAuditableServer"/>
        <requiredService interface="com.ibm.team.workitem.service.IWorkItemServer"/>
      </prerequisites>
    </serviceProvider>
  </extension>
  <extension point="com.ibm.team.repository.common.linkTypes">
    <linkType constrained="true" id="org.jazzcommunity.git.link.git_mergerequest" internal="false">
      <source>
        <endpoint displayName="Git Merge / Pull Requests" icon="src/main/resources/images/request_16x16.png" id="workitem_to_request" multiplicity="0..n">
          <itemReferenceType itemTypeName="WorkItem" packageURI="com.ibm.team.workitem"/>
        </endpoint>
      </source>
      <target>
        <endpoint displayName="Git Merge / Pull Requests" icon="src/main/resources/images/request_16x16.png" id="request_target" multiplicity="0..n"/>
      </target>
    </linkType>
  </extension>
  <extension point="com.ibm.team.repository.common.linkTypes">
    <linkType constrained="true" id="org.jazzcommunity.git.link.git_issue" internal="false">
      <source>
        <endpoint displayName="Git Issues" icon="src/main/resources/images/issue_gitlab_16x16.png" id="workitem_to_issue" multiplicity="0..n">
          <itemReferenceType itemTypeName="WorkItem" packageURI="com.ibm.team.workitem"/>
        </endpoint>
      </source>
      <target>
        <endpoint displayName="Git Issues" icon="src/main/resources/images/issue_gitlab_16x16.png" id="issue_target" multiplicity="0..n"/>
      </target>
    </linkType>
  </extension>
</plugin>
