<html>
<head>
    <style>
        {% include "../css/rich-hover.css" %}
    </style>
</head>
</html>
<body>
    <h1>{{ title }}</h1>
    <div>
        <span class="intro">By:</span> <span class="author">{{ author }}</span>
        <span class="intro">State:</span> <span>{{ state }}</span>
    </div>
    <div>
        <div class="description">{{ description }}</div>
    </div>
</body>
</html>